.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding:0 15px;
}

body{
    background:
           /* top, transparent black, faked with gradient */ 
           linear-gradient(
             rgba(51, 51, 51, 1), 
             rgba(51, 51, 51, 1)
           )
       }

table{
    outline: auto;
    outline-color: #000000;
    background:#494949;
    font-weight: bold !important;
}

table.invisibleTable{
    outline: none;
    background: none;
    font-weight: bold !important;
}

.td{
    font-weight: bold !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057 !important;
}

.nav-tabs .nav-link {
    color: #FFFFFF !important;
    font-weight: bold;
}

.progress.right{
    display: block;
    background-color: #ffbcbc;
}

.progress.right .progress-bar {
    float: right;
    background-color: #ef0a19;
    height: inherit;
}

.progress.health{
    background-color: #ffbcbc !important;
}

.progress.health .progress-bar {
    float: right;
    background-color: #ef0a19;
}

.progress.healthDead{
    background-color: #ffbcbc !important;
}


.progress.healthDead .progress-bar {
    float: right;
    background-color: #6c484b;
}


html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
  }
  
  ::-webkit-scrollbar { width: 8px; height: 3px;}
  ::-webkit-scrollbar-track {  background-color: #646464;}
  ::-webkit-scrollbar-track-piece { background-color: #000;}
  ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
  ::-webkit-scrollbar-corner { background-color: #646464;}
  ::-webkit-resizer { background-color: #666;}

.box-modal {
    width: 600px !important; 
    max-width: 600px !important;
} 

.btn-group input[type='radio'] {
    display: none; 
}